:root {
  --background-color: #f0f2f5;
  --primary: #0866ff;
}

* {
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

main {
  margin: 0 auto;
  height: 100vh;
  width: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

footer {
  background-color: white;
  height: 150px;
}

hr {
  border: 0;
  border-top: 1px solid lightgray;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* media query 1075px */

/* classes and ids*/
.container {
  display: flex;
  flex-direction: column;
  height: 375px;
  gap: 0;
}

/* ===========  Left side  ===========*/
.left {
  margin-top: 5em;
  gap: 0em;
}

#fb-logo {
  margin-left: -25px;
  width: 325px;
}

h2 {
  width: 80%;
  font-size: 1.6em;
  font-weight: 400;
}

/* ===========  Right side  ==========*/
.right {
  align-items: center;
  gap: 2em;
}

#login-form {
  width: 396px;
  background-color: white;
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* forgot-password*/
#login-form a {
  color: var(--primary);
  text-align: center;
  font-size: smaller;
}

input {
  padding: 1em;
  font-size: 1em;
  border: 1px solid lightgray;
  border-radius: 0.35em;
}

input:focus {
  outline: 0;
  border-color: var(--primary);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input::placeholder {
  color: gray;
}

input:focus::placeholder {
  color: lightgray;
}

#login-form button[type='submit'] {
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 0.25em;
  padding: 0.5em;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

#login-form button[type='submit']:hover {
  /* background-color: #1661f3; */
}

#login-form button[type='button'] {
  margin: 0.5em auto;
  background-color: #42b72a;
  color: white;
  border: none;
  width: fit-content;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.right > p {
  font-size: 0.9em;
}
